body.slider-grabbed {
  cursor: grabbing;
}

.nm-timeline {
  display: flex;
}

.nmt-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 150px;
}

.nmt-side-first-date,
.nmt-side-last-date {
  font-weight: bold;
  padding: 15px 0;
}

.nmt-side-mid-dates-wrapper {
  display: flex;
  width: 161px;
}

.nmt-side-mid-dates {
  position: relative;
  padding: 20px 0;
  width: 80px;
}

.nmt-side-mid-date {
  padding: 10px 20px;
}

.nmt-side-mid-separator {
  position: relative;
  width: 1px;
  background-color: #000000;
}

.nmt-side-separator-point {
  position: absolute;
  width: 10px;
  height: 1px;
  left: -10px;
  background-color: #000000;
}

.nmt-side-slider {
  position: absolute;
  display: flex;
  left: -5px;
  cursor: grab;
}

.nmt-side-slider-point {
  width: 10px;
  height: 1px;
  background: #000000;
}

.nmt-side-slider-hand {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 43px;
  height: 29px;
  background-image: url(../img/nm-timeline-sep-pointer.svg);
}

.nmt-side-slider-label {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 32px;
  top: -23px;
  left: 70px;
}

.nmt-content-event {
  display: none;
}

.nmt-content-event.active-event {
  display: block;
}

.nm-content-event-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nmt-content-side {
  min-width: 200px;
  max-width: 30%;
  margin-right: 40px;
}

.nmt-content-img {
  width: 500px;
}

.nmt-content-img img {
  width: 100%;
}

@media (max-width: 1200px) {
  .nmt-content-side {
    max-width: unset;
  }
  .nmt-content-img {
    width: 100%;
  }
}

@media (max-width: 811px) {
  .nm-timeline-mobile {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 811px) {
  .nm-timeline {
    display: none;
  }
}

.nm-timeline-mobile {
  display: none;
}
@media (max-width: 811px) {
  .nm-timeline-mobile {
    display: flex;
    flex-direction: column;
  }
}

.nmt-mobile-event-img img {
  width: 100%;
}
